@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: beige;
  font-family:'Montserrat',sans-serif;
  color: #0A2463;
}

h1 {
  margin: 50px;
  color: #D8315B;
}

h2 {
  margin: 50px 0px;
  /* border: 1px solid red; */
}

.main {
  display: flex;
  flex-flow: row;
}

.attendee-form {
  display: flex;
  width: 30%;
  margin: 50px;
  flex-flow: column nowrap;
}

.attendee-form label{
  margin-top: 80px;
}

.attendees {
  display: flex;
  width: 30%;
  margin: 30px;
  padding-left: 20px;
  flex-flow: column nowrap;
  /* border: 1px solid green; */
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family:'Montserrat',sans-serif;
  font-size: 18px;
  border-bottom:2px solid #5C8BA5;
}

input:focus {
  border-bottom:2px solid #D8315B;
}

select {
  width: 30%;
  height: 8%;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 16px;
  font-family:'Montserrat',sans-serif;
  color: #0A2463;
}

button {
  float:right;
  padding:8px 12px;
  margin: 100px 0px 0px 0px;
  border:2px solid #5C8BA5;
  border-radius: 3%;
  background: #f7f7f7;
  cursor:pointer;
  transition:all .3s;
}

button:hover {
  background:#2a79a7;
  border: 2px solid #2a79a7;
}

